* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  background-color: black;
}
.container {
  width: 65%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  box-sizing: border-box;
  gap: 30px;
}

.left-content {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  padding-right: 20px;
}
.right-content {
  background-color: #232227;
  padding: 20px;
  max-height: 720px;
}
.bottom-content {
  padding-top: 50px;
  margin-left: 20px;
}
h1 {
  color: white;
  font-size: 18px;
  padding-bottom: 20px;
}
h2 {
  color: #767783;
  font-size: 18px;
}
h3 {
  color: white;
  font-size: 18px;
  margin: 0;
}
p {
  color: grey;
  font-size: 18px;
}
strong {
  color: white;
}
.left-img {
  padding-bottom: 50px;
  display: flex;
  width: 300px;
  height: 200px;
}

.right-img {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #232227;
  width: 330px;
  height: 170px;
}
.title {
  display: block;
  margin-bottom: 40px;
  margin-top: 40px;
}

.content {
  display: flex;
  box-sizing: border-box;
  gap: 40px;
}

.footer-content {
  margin-left: 20px;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 1px;
  padding-bottom: 30px;
}
.hr {
  color: grey;
}
.info {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
}
li {
  color: grey;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.list {
  padding-top: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  padding-bottom: 30px;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 1px;
}
.blank {
  margin-top: 70px;
  border-bottom-style: solid;
  border-color: #353439;
  border-width: 1px;
}
.right-text {
  background-color: #232227;
  margin-left: 20px;
  padding-bottom: 40px;
}
.btn-img {
  width: 30px;
  height: 20px;
  padding-right: 5px;
  cursor: pointer;
}

.bottom-info {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
