* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Time New Roman", serif;
  font-size: 12px;
}
body {
  background-color: black;
  margin: 0 auto;
  height: 600px;
  width: 1100px;
}
.container {
  display: flex;
  box-sizing: border-box;

  margin: 27px 203px;
}

.left-content {
  font-family: "Arial", sans-serif;
  padding-right: 20px;
  padding: 0px 30px 40px 30px;
}
.right-content {
  background-color: #232227;
  height: fit-content;
  padding-top: 60px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
}
.bottom-content {
  padding-top: 58px;
  margin-left: 20px;
}
h1 {
  color: white;
  padding-bottom: 12px;
}
h2 {
  font-style: none;
}
h3 {
  color: white;
  margin: 0;
}
p {
  color: grey;
}
strong {
  color: white;
  font-weight: normal;
}
.left-img-detail {
  width: 130px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.right-img {
  margin-top: 15px;
  margin-bottom: 17px;
}
.title {
  display: block;
  margin-bottom: 40px;
  margin-top: 12px;
}

.content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 40px 0 0;
  width: 400px;
}

.footer-content {
  margin-left: 20px;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 1px;
  padding-bottom: 15px;
}
.hr {
  color: grey;
}
.info {
  display: flex;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-left: 20px;
}
li {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}
.list {
  padding-top: 12px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  padding-bottom: 25px;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 1px;
}
.blank {
  margin-top: 10px;
  border-bottom-style: solid;
  border-color: #353439;
  border-width: 1px;
}
.right-text {
  background-color: #232227;
}
.btn-img {
  padding-right: 5px;
  cursor: pointer;
  padding-bottom: 12px;
}

.bottom-info {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.content-text {
  flex: 1;
  line-height: 0.8;
}
.sub-text {
  color: #767783;
}
.right-info {
  margin-top: 50px;
  display: flex;
}
